html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

#navbar-menu, #socmed{
    list-style: none;
}


body {
    display: flex;
    flex-direction: column;
}







@media (max-width:600px){

    #opener{
        position: fixed;
        top:0px;
        left: 0px;
        background-color: #7fffd4;
        min-width: 100%;
        height: 50px;
        padding: 5px 0px; 
        z-index:1000;
    }

    #container{
        position: absolute;
        left: 0px;
        width: 100%;
        height: calc(100vh - 60px); /* Full height minus the opener height */
        padding: 5px 0px;
        top: 60px;
        background-color: #524094;
        flex: 1;
        padding-top: 60px; /* Adjusted to include the opener height */
    }

    .linknavbar{
        font-style: none;
        color: turquoise;
        text-decoration-line: none;
    }

    #navbar{
        display: none;
        position:absolute;
        left: 0px;
        width : 100%;
        height: calc(100vh - 60px); /* Full height minus the opener height */
        padding: 5px 0px;
        top: 60px;
        background-color: #482da9;
    }

    #socmed{
        display: flex ;
    }

    

    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px 0;
        border-style: dashed;
        border-radius: 2px;
        border-color: #439476;
        background-color: #040404; /* Contoh warna background footer */
        color: rgb(183, 150, 150); /* Contoh warna teks footer */
        text-align: center;
    }

    

    #navbar-menu{
        position: sticky;
        left: 3px;
        padding: 5px;
        margin : none;
    }

   #navbar-menu li{
        position: sticky;
        padding: 5px;
        margin: 20px 0px;
   }

   

    #ikon-ig,#ikon-lk, #ikon-gt{
        width: 12px;
        height: 12px;

    }

    #menutogel{
        width : 16px;
        height : 16px;
    }

    #socmed li{
        margin : 0 8px;
    }

    #menutogelbtn{
        position: absolute;
        top:20px;
        right: 20px;
        /* margin-right : 20px; */
        /* padding: 1px; */
        background-color: transparent;
        border: none;
        z-index: 1001; /* Ensures it is above other elements */
    }

    #gw{
        position: absolute;
        top:-2px;
        left: 10px;
        font-size: 24px;
    }
}



@media (min-width:601px) {
    /* #opener{
        position: fixed;
        top:0px;
        left: 0px;
        background-color: #7fffd4;
        min-width: 100%;
        height: 50px;
        padding: 5px 0px; 
        z-index:1000;
    }

    .linknavbar{
        font-style: none;
        color: turquoise;
        text-decoration-line: none;
    } */

    #navbar-menu, #socmed{
        display: flex;
    }

    #ikon-ig,#ikon-lk, #ikon-gt{
        width: 30px;
        height: 30px;

    }
    
    #socmed li{
        padding : 0 31px;
        
    }

    #menutogelbtn{
        display: none;

    }
}