
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #f5f6f7;
}


h1, p {
    margin: 1em auto;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

@media (min-width: 601px) {
    body {
        background-color: coral;
    }
}

nav ul {
    display: flex;
    justify-content: space-around;
}

