/* Gaya dasar yang akan diterapkan pada semua perangkat */
body {
    font-family: Arial, sans-serif;

}
  
#navbar, #socmed {
    list-style: none;
}

  /* Gaya khusus untuk layar yang lebih kecil (misalnya, ponsel Android) */
@media (max-width: 600px) {
    body {
      background-color: rgb(31, 109, 135);
    }

    #ikon-ig, #ikon-gt, #ikon-lk, #menutogel{
        width: 15px;
        height: 15px;
        padding: 0%;
        margin:0%;
    }
   
    .navbar {
        width: 100%;
        position : absolute;
        right: 20px;
        display: none;
        padding-top: 10px;
        flex-direction: column; 
        gap: 10px; 
    }

    
    .socmed{
        display: inline-flex;
        padding: 1px;
        flex-direction: row; /* atau row jika horizontal */
        gap: 20px; /* Menambah jarak 10px antara item */
    }

    
    .menutogelbtn{
        position: absolute;
        right : 30px;
        top : 10px;
        z-index: 1000;
        background-color: transparent;
        border: none;
    }

    #about, #contact, footer {
        text-align: center;
        position :absolute;
    }

    #about{
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #contact{
        padding-top:20px;
        top:60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    footer{
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }


}
  
  /* Gaya khusus untuk layar yang lebih besar (misalnya, laptop atau desktop) */
@media (min-width: 601px) {

    #navbar, #socmed {
        padding: 10px 15px;
        display: inline-flex;
        flex-direction: row; /* atau row jika horizontal */
        gap: 20px; /* Menambah jarak 10px antara item */

    }
    
    #about, #contact, footer, .socmed {
        text-align: center;
    }

    body{
      background-color: rgb(104, 80, 18);
    }

    img{
        max-width: 15px;
        max-height: 15px;
    }
    .menutogelbtn{
        display: none;
    }
    

}