/* Gaya dasar yang akan diterapkan pada semua perangkat */
body {
    font-family: Arial, sans-serif;
    
}
  
#navbar, #socmed {
    list-style: none;
}


  /* Gaya khusus untuk layar yang lebih kecil (misalnya, ponsel Android) */
@media (max-width: 600px) {
    body {
      background-color: rgb(31, 109, 135);
    }

    #ikon-ig, #ikon-gt, #ikon-lk, #menutogel{
        width: 15px;
        height: 15px;
        padding: 0%;
        margin:0%;
    }

    #navbar{
        display: none;
    }

    .linknavbar{
        padding: 1px;
    }

    #navbar, #socmed{
        padding: 10px 15px;
        position:relative;
        justify-content: flex-end;
    }

    #socmed{
        display: inline-flex;
    }
    #about{
        position: relative;
    }

    #menutogelbtn{
        position: absolute;
        right :30px;
        top : 10px;
        background-color: transparent;
        border: none;
    }

}
  
  /* Gaya khusus untuk layar yang lebih besar (misalnya, laptop atau desktop) */
@media (min-width: 601px) {

    #navbar, #socmed {
        padding: 10px 15px;
        position:relative;
        display: flex; 
        justify-content: flex-end;
        display: inline-flex;
    }
    
    body {
      background-color: rgb(104, 80, 18);
    }
    img{
        max-width: 15px;
        max-height: 15px;
    }
    #menutogelbtn{
        display :none;
    }
    

}